.body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.navbar {
  background-color: rgb(0, 0, 51);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.logo {
  height: 50px;
  width: 50px;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
}

.menu li a {
  text-decoration: none;
  color: white;
}

.hero {
  background-image: url("./assets//hero-cruise.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 98vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero h1,
.hero p {
  margin: 0;
  padding: 5px 0;
}

.hero button {
  color: white;
  background-color: #ff7700;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}

.heading {
  border-left: 5px solid orange;
  padding: 0 10px;
  margin: 0 20px;
}
.popular {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.pills {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}
.pills img {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.pills-img {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
  border-radius: 25px;
  padding: 0 5px;
}

.banner {
  margin-top: 20px;
  position: relative;
}
.banner-text {
  position: absolute;
  bottom: 20px;
  left: 10px;
  color: white;
}
.banner-text h3,
.banner-text p {
  margin: 0;
}

.card-head {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.card {
  width: 100%;
  position: relative;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-text {
  position: absolute;
  bottom: 10px;
  color: white;
  font-size: 15px;
  left: 5px;
}
.card-text h3,
.card-text p {
  margin: 0;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  .popular {
    flex-direction: column;
  }
  .heading {
    text-align: center;
  }
  .popular h4 {
    margin: 0;
  }
  .pills {
    flex-direction: column;
  }
  .card-head {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
}

@media (max-width:480px) {
     .card-head {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}
}